* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  body {
    background-color: black;
    #content {
      display: grid;
      grid-template-rows: 1fr 29fr 1fr;
      grid-template-areas:
        "nav nav nav"
        "aside main main"
        "aside main main"
        "footer footer footer";
    }
    .navbar {
      grid-area: nav;
      background-color: red;
    }
    .footer {
      grid-area: footer;
      background-color: red;
    }
    .aside-menu {
      grid-area: aside;
      background-color: red;
      margin: 1rem;
      display: flex;
      flex-direction: column;

      .project-container {
        .project-div {
          cursor: pointer;
          margin: 1rem;
          border: 1px solid green;

          .project-title {
            color: blue;
          }
        }
      }
      .add-project {
        order: 2;
      }
      .project-form {
        background-color: blue;
        order: 1;
      }
    }
    .main-content {
      grid-area: main;
      background-color: green;
      margin: 1rem;

      .toDo-container {
        background-color: blue;
      }
    }
  }
  .new-ToDo-form-container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 17, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .new-ToDo-form,
    .change-toDo-name-form {
      background-color: rgb(21, 255, 0);
    }
  }
}
